*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-around;
}
header ul{
    display: flex;
    margin: 40px;
    gap: 70px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    border-bottom: 2px transparent solid;
}
header nav ul li a:hover{
    color: cyan;
    border-color: cyan;
}
main header .icon{
    display: flex;
    align-items: center;
    font-size: 25px;
}
/* bg strat */
main .bg-image{
    background: url(../images/bg.jpg) center center no-repeat;
    height: 500px;
}
main .bg-image .row-1{
    padding: 100px;
}
main .bg-image .row-1 .buttons-area{
    width: 440px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 10px 10px 30px #fff;
}
main .bg-image .row-1 .buttons-area .banner-btn button{
    font-size: 30px;
    font-family: 'Stardos Stencil', cursive;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px #000 solid;
}
main .bg-image .row-1 .buttons-area .banner-btn:nth-child(1) button{
    padding: 10px 70px;
    background: #000;
    color: white;
    border: 1px #fff solid;
}
main .bg-image .row-1 .buttons-area .banner-btn:nth-child(1) button:hover{
    background: #fff;
    color: #000;
    border: 1px #000 solid;
    transition: all 0.2s ease, visibility 0s;
}
main .bg-image .row-1 .buttons-area .banner-btn:nth-child(2) button{
    padding: 10px 60px;
    background: #fff;
    color: #000;
}
main .bg-image .row-1 .buttons-area .banner-btn:nth-child(2) button:hover{
    background: black;
    color: white;
    border: 1px white solid;
    transition: all 0.2s ease, visibility 0s;
}
main .bg-image .row-1 .buttons-area .banner-btn:nth-child(3) button{
    padding: 10px 60px;
    background: #000;
    color: white;
    border: 1px #fff solid;
}
main .bg-image .row-1 .buttons-area .banner-btn:nth-child(3) button:hover{
    background: #fff;
    color: #000;
    border: 1px #000 solid;
    transition: all 0.2s ease, visibility 0s;
}

/* bg end */
/* expertise start */
main .expertse-part{
    background-color: #ecf0f1;
    width: 90%;
    margin: 70px 70px;
    display: flex;
    column-gap: 20%;
    padding-left: 10%;
}
main .expertse-part .col-1{
    width: 50%;
    margin-top: 80px;
}
main .expertse-part.expertse-part .col-1 .text-ex{
    padding-top: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: bold
}
main .expertse-part.expertse-part .col-1 .web-dg{
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
main .expertse-part.expertse-part .col-1 .stunning-text{
    width:400px;
    padding: 20px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
}
main .expertse-part.expertse-part .col-1 .collaborate{
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
/* expertise end */
/* my recent work start */
main .recent-work{
    background-color: #dcdde1;
}

main .recent-work .row-1 .my-work.text{
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    font-weight: bold;
}
main .recent-work .row-2{
    display: flex;
}
main .recent-work .row-2 .col-1.img{
    padding: 70px;
}
main .recent-work .row-2 .col-1.img :hover{
right: 100%;
}
main .recent-work .row-2 .col-2.text{
    margin-top: 80px;
    padding-right: 50px;
}
main .recent-work .row-2 .col-2.text .cunt{
    font-size: 30px;
    padding-top: 40px;
}
main .recent-work .row-2 .col-2.text .clothing{
    font-size: 25px;
    padding-top: 20px;
}
main .recent-work .row-2 .col-2.text .text{
    font-size: 20px;
    padding-top: 20px;
    line-height: 50px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 80%;
    margin: auto;
}
main .recent-work .row-3{
    display: flex;
}
main .recent-work .row-3 .col-1.houston{
    padding-left: 12%;
    padding-top: 70px;
    
}
main .recent-work .row-3 .col-1.houston .cunt-2{
    font-size: 30px;
}
main .recent-work .row-3 .col-1.houston .limo{
    font-size: 30px;
    padding-top: 20px;
}
main .recent-work .row-3 .col-1.houston .text-airport{
    font-size: 20px;
    padding-top: 20px;
    line-height: 40px;
}
main .recent-work .row-3 .col-2.img-houston{
    padding: 60px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 80%;
    margin: auto;
}
main .recent-work .row-4{
    display: flex;
}
main .recent-work .row-4 .col-1.cotton-img{
    margin: 80px 90px;
}
main .recent-work .row-4 .col-2.text-cut{
    margin-top: 80px;
    padding-right: 50px;
}
main .recent-work .row-4 .col-2.text-cut .cunt-3{
    margin-top: 40px;
    font-size: 30px;
}
main .recent-work .row-4 .col-2.text-cut .rack{
    padding-top: 20px;
    font-size: 30px;
}
main .recent-work .row-4 .col-2.text-cut .text-design{
    padding-top: 20px;
    font-size: 20px;
    line-height: 35px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 80%;
    margin: auto;
}
main .recent-work .row-5{
    display: flex;
}
main .recent-work .row-5 .col-1.shivangi{
    padding-left: 20%;
    padding-top: 70px;
}
main .recent-work .row-5 .col-1.shivangi .cunt-4{
    font-size: 30px;
}
main .recent-work .row-5 .col-1 .kealiwal{
    font-size: 30px;
    padding-top: 20px;
}
main .recent-work .row-5 .col-1 .text-store{
    font-size: 20px;
    padding-top: 20px;
    line-height: 40px;
}
main .recent-work .row-5 .col-2.img-sk{
    padding: 60px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}
/* my recent work end */
/* help area start */
main .help-area{
    background-color: #8395a7;
}
main .help-area .row1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 45px;
}
main .help-area .row2{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 50px;
}
main .help-area .row2 .col{
    width: 23%;
    text-align: center;
}
main .help-area .row2 .col:hover{
    box-shadow: 10px 10px 30px black;
}
main .help-area .row2 .col .icon{
    font-size: 50px;
    padding-top: 50px;
}
main .help-area .row2 .col .icon-3{
    font-size: 50px;
    padding-top: 50px;
}
main .help-area .row2 .col .help-hading{
    padding-top: 25px;
    font-size: 30px;
}
main .help-area .row2 .col .text{
    font-size: 20px;
    padding-top: 25px;
    line-height: 30px;
    padding-bottom: 60px;
}
main .help-area .row2 .col.branding{
    background: black;
    color: #747474;
}
main .help-area .row2 .col.web-d{
    background: #ecf0f1;
}
main .help-area .row2 .col.markiting{
    background: #4b4b4b;
    color: #f1f2f6;
}
main .help-area .row2 .col.copy-d{
    background: #2ed573;
    color: black;
}
main .help-area .row2 .col .help-hading.wd{
    color: #2ed573;
}
main .help-area .row2 .col .help-hading.mk{
    color: #2ed573;
}
main .help-area .row3{
    margin-top:50px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
main .help-area .row3 .btn{
    width: 150px;
    height: 40px;
    font-size: 24px;
}
/* help area end */
/* testimo area start */
main .test-area{
    background: #f1f2f6;
    margin-top: 50px;
    margin-bottom: 50px;
}
main .test-area .test-hading{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}
main .test-area .row1{
    display: flex;
}
main .test-area .row1 .col-test{
    width: 33%;
}
main .test-area .row1 .img-ap{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.img-a{
    border-radius: 115px;
}
main .test-area .row1 .hading-tm{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: #2ed573;
}
main .test-area .row1 .test-text{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
    font-size: 20px;
    line-height: 40px;
    line-height: 30px;
    width: 300px;
    padding-left: 100px;
}
hr.testimo{
    border: none;
    border-top: 2px black solid;
    width: 100%;
}
/* testimo  area end */
/* start working area start */

main footer .let-work .let-hading{
    text-align: center;
    font-size: 50px;
}
main footer .let-work .let-row{
    padding-top: 40px;
    display: flex;
}
main footer .let-work .let-row .let-col{
    width: 50%;
}
main footer .let-work .let-row .let-col .info-icon{
    padding-left: 40%;
    padding-top: 55px;
    font-size: 20px;
}
main footer .let-work .let-row  .let-col.info{
    border: 2px black solid;
    line-height: 90px;
    padding-left: 70px;
    padding-top: 50px;
    margin: 0 70px 50px 0;
}
main footer .let-work .let-row  .let-col.info .send-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
main footer .let-work .let-row  .let-col.info button{
    height: 30px;
    
}

/* start working area end */

/* Project page */
/* client stories start */
.stories-hading{
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}
hr.stories-bod{
    width: 300px;
    margin-top: 20px;
}
.row2.client-area{
    display: flex;
}
.row2.client-area .client-col.img{
    padding: 70px;
}
.row2.client-area .client-col.text{
    margin-top: 80px;
    padding-right: 50px;
}

.row2.client-area .client-col.text .cont{
    padding-top: 40px;
    font-size: 35px;
}
.row2.client-area .client-col.text .hading{
    padding-top: 30px;
    font-size: 35px;
}
.row2.client-area .client-col.text .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 45px;
}
.row3.houston{
    display: flex;
}
.row3.houston .houston-col.text{
    padding-left: 12%;
    padding-top: 70px;
}
.row3.houston .houston-col.img{
    padding: 70px;
}
.row3.houston .houston-col .cont{
    font-size: 30px;
    padding-top: 20px;
}
.row3.houston .houston-col .hading{
    padding-top: 20px;
    font-size: 35px;
}
.row3.houston .houston-col .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 35px;
}
.row4.cotton{
    display: flex;
}
.row4.cotton .cotton-col.img{
    padding: 70px;
}
.row4.cotton .cotton-col.text{
    margin-top: 80px;
    padding-right: 50px;
}

.row4.cotton .cotton-col.text .cont{
    padding-top: 40px;
    font-size: 35px;
}
.row4.cotton .cotton-col.text .hading{
    padding-top: 30px;
    font-size: 35px;
}
.row4.cotton .cotton-col.text .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 45px;
}
.row5.shivangi{
    display: flex;
}
.row5.shivangi .shivangi-col.text{
    padding-left: 12%;
    padding-top: 70px;
}
.row5.shivangi .shivangi-col.img{
    padding: 70px;
}
.row5.shivangi .shivangi-col .cont{
    font-size: 30px;
    padding-top: 20px;
}
.row5.shivangi .shivangi-col .hading{
    padding-top: 20px;
    font-size: 35px;
}
.row5.shivangi .shivangi-col .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 35px;
}
.row6.peachez{
    display: flex;
}
.row6.peachez .peachez-col.img{
    padding: 70px;
}
.row6.peachez .peachez-col.text{
    margin-top: 80px;
    padding-right: 50px;
}

.row6.peachez .peachez-col.text .cont{
    padding-top: 40px;
    font-size: 35px;
}
.row6.peachez .peachez-col.text .hading{
    padding-top: 30px;
    font-size: 35px;
}
.row6.peachez .peachez-col.text .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 45px;
}
.row7.stpl{
    display: flex;
}
.row7.stpl .stpl-col.text{
    padding-left: 12%;
    padding-top: 70px;
}
.row7.stpl .stpl-col.img{
    padding: 70px;
}
.row7.stpl .stpl-col .cont{
    font-size: 30px;
    padding-top: 20px;
}
.row7.stpl .stpl-col .hading{
    padding-top: 20px;
    font-size: 35px;
}
.row7.stpl .stpl-col .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 35px;
}
.row8.chingaaari{
    display: flex;
}
.row8.chingaaari .chingaaari-col.img{
    padding: 70px;
}
.row8.chingaaari .chingaaari-col.text{
    margin-top: 80px;
    padding-right: 50px;
}

.row8.chingaaari .chingaaari-col.text .cont{
    padding-top: 40px;
    font-size: 35px;
}
.row8.chingaaari .chingaaari-col.text .hading{
    padding-top: 30px;
    font-size: 35px;
}
.row8.chingaaari .chingaaari-col.text .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 45px;
}
.row9.jewellery{
    display: flex;
}
.row9.jewellery .jewellery-col.text{
    padding-left: 12%;
    padding-top: 70px;
}
.row9.jewellery .jewellery-col.img{
    padding: 70px;
}
.row9.jewellery .jewellery-col .cont{
    font-size: 30px;
    padding-top: 20px;
}
.row9.jewellery .jewellery-col .hading{
    padding-top: 20px;
    font-size: 35px;
}
.row9.jewellery .jewellery-col .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 35px;
}
.row10.darbar{
    display: flex;
}
.row10.darbar .darbar-col.img{
    padding: 70px;
}
.row10.darbar .darbar-col.text{
    margin-top: 80px;
    padding-right: 50px;
}

.row10.darbar .darbar-col.text .cont{
    padding-top: 40px;
    font-size: 35px;
}
.row10.darbar .darbar-col.text .hading{
    padding-top: 30px;
    font-size: 35px;
}
.row10.darbar .darbar-col.text .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 45px;
}
.row11.april{
    display: flex;
}
.row11.april .april-col.text{
    padding-left: 12%;
    padding-top: 70px;
}
.row11.april .april-col.img{
    padding: 70px;
}
.row11.april .april-col .cont{
    font-size: 30px;
    padding-top: 20px;
}
.row11.april .april-col .hading{
    padding-top: 20px;
    font-size: 35px;
}
.row11.april .april-col .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 35px;
}
.row12.squirrles{
    display: flex;
}
.row12.squirrles .squirrles-col.img{
    padding: 70px;
}
.row12.squirrles .squirrles-col.text{
    margin-top: 80px;
    padding-right: 50px;
}

.row12.squirrles .squirrles-col.text .cont{
    padding-top: 40px;
    font-size: 35px;
}
.row12.squirrles .squirrles-col.text .hading{
    padding-top: 30px;
    font-size: 35px;
}
.row12.squirrles .squirrles-col.text .text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 45px;
}
.row.client-area .squirrles-btn{
    display: flex;
    justify-content: center;
   margin-top: 40px;
   margin-bottom: 30px;
}
.row.client-area .squirrles-btn button{
    padding: 10px 40px;
    font-size: 20px;
}
/* client stories end */
/* work with me strat */
.work-area{
    display: flex;
    margin-top: 40px;
}
.work-area .work-col.text {
    border-bottom: 1px black solid;
}
.work-area .work-col.text .text-col{
    border-top: 1px black solid;
    font-size: 30px;
    padding: 100px;
    line-height: 50px;
}

.work-area .work-col.text .work-btn{
    padding: 0px 250px;
}
.work-area .work-col.text .work-btn button{
    padding: 10px 40px;
    font-size: 20px;
}
.work-me{
    margin-top: 40px;
}
.work-me .work-hading{
    text-align: center;
    font-size: 50px;
}
.work-me .work-colm {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    column-gap: 10px; 
    padding-bottom: 50px;
}
.work-me .work-colm .colm{
    width: 18%;
    text-align: center;
    background-color: #7f8c8d;
    transition: all 0.3s;
}
.work-me .work-colm .colm:hover{
    transform: translateX(0px) translateY(-10px) scale(1);
}
.work-me .work-colm .colm .hading{
    font-size: 30px;
    padding-top: 30px;
}
.work-me .work-colm .colm .text{
    font-size: 20px;
    padding-top: 30px;
    line-height: 30px;
    padding-bottom: 50px;
}
/* work with me end */
/* testimonials strat */
 .testimoinials{
    background: #f1f2f6;
    margin-top: 50px;
    margin-bottom: 50px;
}
 .testimonials .testimo-hading{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}
 .testimonials .row1{
    display: flex;
}
 .testimonials .row1 .col-test{
    width: 33%;
}
 .testimonials .row1 .img-ap{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.img-a{
    border-radius: 115px;
}
 .testimonials .row1 .hading-tm{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: #2ed573;
}
 .testimonials .row1 .test-text{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
    font-size: 20px;
    line-height: 40px;
    line-height: 30px;
    width: 300px;
    padding-left: 100px;
}
hr.testimo{
    border: none;
    border-top: 2px black solid;
    width: 100%;
}
/* testimonials end */
/* blog area start */
.recipe{
    margin: 50px;
    border: 1px black solid;
}
.businesses{
    margin: 50px;
    border: 1px black solid;
}
.businesses .businesses-col img{
    padding: 40px 0 30px 120px;
}
footer .let-work .let-hading{
    text-align: center;
    font-size: 50px;
}
footer .let-work .let-row{
    padding-top: 40px;
    display: flex;
}
footer .let-work .let-row .let-col{
    width: 50%;
}
footer .let-work .let-row .let-col .info-icon{
    padding-left: 40%;
    padding-top: 55px;
    font-size: 20px;
}
footer .let-work .let-row  .let-col.info{
    border: 2px black solid;
    line-height: 90px;
    padding-left: 70px;
    padding-top: 50px;
    margin: 0 70px 50px 0;
}
footer .let-work .let-row  .let-col.info .send-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
footer .let-work .let-row  .let-col.info button{
    height: 30px;
    
}
/* blog area end */
