*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    display: flex;
    justify-content: space-around;
}
header ul{
    display: flex;
    margin: 40px;
    gap: 70px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    border-bottom: 2px transparent solid;
}
header nav ul li:hover{
    color: cyan;
    border-color: cyan;
}
main header .icon{
    display: flex;
    align-items: center;
    font-size: 25px;
}
/* bg strat */
main .bg-image{
    background: url(../images/bg.jpg) center center no-repeat;
    height: 500px;
}
main .bg-image .row-1{
    padding: 100px;
}
main .bg-image .bg-col{ 
    font-size: 30px;
    font-weight: bold;
    display: flex;
    border-radius: 6px;
    padding-top: 25px;
    border: 1px transparent solid;
}
main .bg-image .bg-col .int{
    border: 2px white solid;
    color: white;
    background: black;
    width: 150px;
    display: flex;
    justify-content: center;
}
main .bg-image .bg-col .int:hover{
    box-shadow: 15px 15px 15px black;
}
main .bg-image .bg-col .pro{
    border: 2px white solid;
    color: white;
    background: black;
    width: 200px;
    display: flex;
    justify-content: center;
}
main .bg-image .bg-col .pro:hover{
    box-shadow: 15px 15px 15px black;
}
main .bg-image .bg-col .wd{
    border: 2px white solid;
    color: white;
    background: black;
    width: 300px;
    display: flex;
    justify-content: center;
}
main .bg-image .bg-col .wd:hover{
    box-shadow: 15px 15px 15px black;
}
main .bg-image .bg-col .cl{
    border: 2px white solid;
    color: white;
    background: black;
    width: 300px;
    display: flex;
    justify-content: center;
}
main .bg-image .bg-col .cl:hover{
    box-shadow: 15px 15px 15px black;
}
/* bg end */
/* expertise start */
main .expertse-part{
    background-color: #ecf0f1;
    width: 90%;
    margin: 70px 70px;
    display: flex;
    column-gap: 20%;
    padding-left: 10%;
}
main .expertse-part .col-1{
    width: 50%;
    margin-top: 80px;
}
main .expertse-part.expertse-part .col-1 .text-ex{
    padding-top: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: bold
}
main .expertse-part.expertse-part .col-1 .web-dg{
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
main .expertse-part.expertse-part .col-1 .stunning-text{
    width:400px;
    padding: 20px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
}
main .expertse-part.expertse-part .col-1 .collaborate{
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
/* expertise end */
/* my recent work start */
main .recent-work{
    background-color: #dcdde1;
}

main .recent-work .row-1 .my-work.text{
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    font-weight: bold;
}
main .recent-work .row-2{
    display: flex;
}
main .recent-work .row-2 .col-1.img{
    padding: 70px;
}
main .recent-work .row-2 .col-2.text{
    margin-top: 80px;
    padding-right: 50px;
}
main .recent-work .row-2 .col-2.text .cunt{
    font-size: 30px;
    padding-top: 40px;
}
main .recent-work .row-2 .col-2.text .clothing{
    font-size: 25px;
    padding-top: 20px;
}
main .recent-work .row-2 .col-2.text .text{
    font-size: 20px;
    padding-top: 20px;
    line-height: 50px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 80%;
    margin: auto;
}
main .recent-work .row-3{
    display: flex;
}
main .recent-work .row-3 .col-1.houston{
    padding-left: 12%;
    padding-top: 70px;
    
}
main .recent-work .row-3 .col-1.houston .cunt-2{
    font-size: 30px;
}
main .recent-work .row-3 .col-1.houston .limo{
    font-size: 30px;
    padding-top: 20px;
}
main .recent-work .row-3 .col-1.houston .text-airport{
    font-size: 20px;
    padding-top: 20px;
    line-height: 40px;
}
main .recent-work .row-3 .col-2.img-houston{
    padding: 60px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 80%;
    margin: auto;
}
main .recent-work .row-4{
    display: flex;
}
main .recent-work .row-4 .col-1.cotton-img{
    margin: 80px 90px;
}
main .recent-work .row-4 .col-2.text-cut{
    margin-top: 80px;
    padding-right: 50px;
}
main .recent-work .row-4 .col-2.text-cut .cunt-3{
    margin-top: 40px;
    font-size: 30px;
}
main .recent-work .row-4 .col-2.text-cut .rack{
    padding-top: 20px;
    font-size: 30px;
}
main .recent-work .row-4 .col-2.text-cut .text-design{
    padding-top: 20px;
    font-size: 20px;
    line-height: 35px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 80%;
    margin: auto;
}
main .recent-work .row-5{
    display: flex;
}
main .recent-work .row-5 .col-1.shivangi{
    padding-left: 20%;
    padding-top: 70px;
}
main .recent-work .row-5 .col-1.shivangi .cunt-4{
    font-size: 30px;
}
main .recent-work .row-5 .col-1 .kealiwal{
    font-size: 30px;
    padding-top: 20px;
}
main .recent-work .row-5 .col-1 .text-store{
    font-size: 20px;
    padding-top: 20px;
    line-height: 40px;
}
main .recent-work .row-5 .col-2.img-sk{
    padding: 60px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}
/* my recent work end */
/* help area start */
main .help-area{
    background-color: #8395a7;
}
main .help-area .row1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 45px;
}
main .help-area .row2{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 50px;
}
main .help-area .row2 .col{
    width: 23%;
    text-align: center;
}
main .help-area .row2 .col:hover{
    box-shadow: 10px 10px 30px black;
}
main .help-area .row2 .col .icon{
    font-size: 50px;
    padding-top: 50px;
}
main .help-area .row2 .col .icon-3{
    font-size: 50px;
    padding-top: 50px;
}
main .help-area .row2 .col .help-hading{
    padding-top: 25px;
    font-size: 30px;
}
main .help-area .row2 .col .text{
    font-size: 20px;
    padding-top: 25px;
    line-height: 30px;
    padding-bottom: 60px;
}
main .help-area .row2 .col.branding{
    background: black;
    color: #747474;
}
main .help-area .row2 .col.web-d{
    background: #ecf0f1;
}
main .help-area .row2 .col.markiting{
    background: #4b4b4b;
    color: #f1f2f6;
}
main .help-area .row2 .col.copy-d{
    background: #2ed573;
    color: black;
}
main .help-area .row2 .col .help-hading.wd{
    color: #2ed573;
}
main .help-area .row2 .col .help-hading.mk{
    color: #2ed573;
}
main .help-area .row3{
    margin-top:50px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
main .help-area .row3 .btn{
    width: 150px;
    height: 40px;
    font-size: 24px;
}
/* help area end */
/* testimo area start */
main .test-area{
    background: #f1f2f6;
    margin-top: 50px;
    margin-bottom: 50px;
}
main .test-area .test-hading{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}
main .test-area .row1{
    display: flex;
}
main .test-area .row1 .col-test{
    width: 33%;
}
main .test-area .row1 .img-ap{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.img-a{
    border-radius: 115px;
}
main .test-area .row1 .hading-tm{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: #2ed573;
}
main .test-area .row1 .test-text{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
    font-size: 20px;
    line-height: 40px;
    line-height: 30px;
    width: 300px;
    padding-left: 100px;
}
hr{
    border: none;
    border-top: 2px black solid;
    width: 100%;
}
/* testimo  area end */
/* start working area start */

main footer .let-work .let-hading{
    text-align: center;
    font-size: 50px;
}
main footer .let-work .let-row{
    padding-top: 40px;
    display: flex;
}
main footer .let-work .let-row .let-col{
    width: 50%;
}
main footer .let-work .let-row .let-col .info-icon{
    padding-left: 40%;
    padding-top: 55px;
    font-size: 20px;
}
main footer .let-work .let-row  .let-col.info{
    border: 2px black solid;
    line-height: 90px;
    padding-left: 70px;
    padding-top: 50px;
    margin: 0 70px 50px 0;
}
main footer .let-work .let-row  .let-col.info .send-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
main footer .let-work .let-row  .let-col.info button{
    height: 30px;

}

/* start working area end */

/* Project page */